<!-- homepage/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include the Bulma CSS framework for styling -->
    {% load sass_tags %}

    <link href="{% sass_src 'mybulma/sass/mystyle.scss' %}" rel="stylesheet" type="text/css" />
    <title>Sint-Johannes</title>
</head>
<body>
    <section class="hero is-small is-primary mb-4">
        <div class="hero-body">
            <h1 class="title is-1">Sint-Johannes</h1>
        </div>
    </section>

    <div class="container">
        <div class="columns">

            {% block content %}

            {% endblock content %}

        </div>
    </div>
</body>
</html>