@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set brand colors
$green: #98a212;



// Update Bulma vars
$family-secondary: "Montserrat", sans-serif;
$primary: $green;
$scheme-invert: $green;
$link: $green;


//import from bulma
@import "../node_modules/bulma/bulma.sass";